[Unit]
Description=Things WebSocket State Server
After=network.target

[Service]
Type=simple
User=afabian
WorkingDirectory=/home/afabian/things/wsserver
ExecStart=/home/afabian/things/wsserver/build/things-ws
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
